body{
	margin: 0;
	padding: 0;
}

#header{
	font-size: 1.5em ;
}

#header h2{
	display: none;
}

#logo{
	display: none;
}

#menu{
	width: 100%;
	font-size: 1.1em;
}
img{
display: none;
}

#guestList dd{
	padding: 0.8em;
}



